.post-title {
    position: relative;
}

.post-title .flag {
    display: inline-block;
    padding: 0 5px;
    background: #f44336;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    transform: translateY(-2px);
}

h3.friend-link-title {
    padding-left: 5px;
}

.friend-link-item {
    position: relative;
    margin: 1.5rem 0;
    padding: 1rem;
    transition: all .3s;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.friend-link-item:hover {
    box-shadow: 0 1px 7px 1px #aaa;
}

.friend-link-item .bgColor {
    width: 62px;
    height: 62px;
}

.friend-link-item .image {
    display: block;
    width: 53px;
    height: 53px;
    border-radius: 4px;
    background-size: contain;
    flex-shrink: 0;
    border: none;
    margin: 0 !important;
}

.friend-link-item .info {
    position: absolute;
    width: 180px;
    height: 62px;
    top: 5px;
    left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend-link-item .remark {
    text-align: left;
    color: var(--text-color)
}

.album-body .descr {
    text-align: center;
}

.album-item {
    width: 100%;
    height: 100%;
    text-align:center;
    background-size: cover;
    margin-bottom: 2em;
    transition: all .3s;
    box-shadow: 0 0 5px var(--shadow-color);
    border-radius: 4px;
}

.album-item a {
    color: #888;
}

.album-item a:hover {
    color: #ddd;
}

.album-item a img {
    width: 100%;
    height:200px;
    object-fit: cover;
}

.album-detail-item a img {
    width: 100%;
    height:150px;
    object-fit: cover;
}

.album-item .descr {
    padding-top: 1rem;
}

.album-detail-item {
    position: relative;
    margin: 1.5rem auto;
    height: 100%;
    box-shadow: 0 1px 3px 1px var(--shadow-color);
}

.album-detail-item a .mask {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0 ,0, 0, .2);
    width: 100%;
    height: 150px;
    opacity: 0;
    transition: all .5s;
}

.album-detail-item a:hover .mask {
    opacity: 1;
}

.album-detail-item a .mask i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album-detail-item .name {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
}

.video-self {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 620px;
    height: 420px;
    z-index: 1000;
}

.video-close {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 12px;
    right: 12px;
    z-index: 1000;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
}

.notification_success {
    border-radius: .25rem;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.notification_info {
    border-radius: .25rem;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.notification_warning {
    border-radius: .25rem;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.notification_error {
    border-radius: .25rem;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.comment-container {
    margin-top: 10px !important;
}

.comment-data-body .comment-data-body-content textarea {
    width: calc(100% - 42px);
}

.comment-data-body .comment-data-body-btns .emoji-container .emoji-container-btn {
    margin-top: 14px;
    font-size: 1.25rem !important;
}

.comment-data-body .comment-data-body-btns .emoji-container .emoji-content {
    left: 0 !important;
}

.comment-data-body .comment-data-body-btns .input-container {
    top: 4px;
}

.emoji-content .emoji-content-items ul li {
    width: 22px;
    height: 22px;
}

.comment-data-body .comment-data-body-btns .send-message-btn {
    background-color: #000 !important;
    border: 1px solid #000 !important;
    padding: 4px !important;
}

.comment-data-body .comment-data-body-btns .send-message-btn:hover {
    background-color: #222 !important;
    color: #fff;
}

.comment-container .comment-list .comment-list-item .date {
    background-color: #000 !important;
    padding: 0 3px !important;
}

.comment-list .comment-list-page-bar ul li {
    background-color: #000 !important;
}

.comment-list .comment-list-page-bar ul li {
    background-color: #e4e7ea !important;

}

.comment-list .comment-list-page-bar ul li a {
    color: #fff;
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
}

.comment-list .comment-list-page-bar ul li.active {
    background-color: #000 !important;
}

.comment-list .comment-list-page-bar ul li a:hover {
    background-color: #000 !important;
}

.posts-expand .post-body ul li {
    list-style: none;
}

.use-motion .post-block, .use-motion .pagination, .use-motion .comments {
    opacity: 1 !important;
}

.post-copyright {
    list-style-type: none;
    border-left: 3px solid red;
    padding-left: 10px;
}

.real-time-search-container .real-time-search-body .highlight_list {
    width: 492px !important;
}

.shareContainer {
    position: relative;
    height: 50px;
    margin-bottom: 8px;
}

.shareContainer .btns {
    position: absolute;
    z-index: 9999;
}

.social-share {
    position: absolute;
    display: inline-block;
    opacity: 0;
    transition: all .5s;
    top: 0;
    left: 0;
}

.share-open {
    opacity: 1;
    top: -5px;
    left: 188px;
}

@media (max-width: 767px) {
    .share-open {
        opacity: 1;
        top: 36px;
        width: 100%;
        left: 32px;
        transform: scale(0.8);
    }
}

.highlight_list li img {
    display: inline-block !important;
}

.dynamic-item {
    margin: 30px 0;
    --bg-color: var(--block-color, #bbb);
}

.dynamic-item .fluid-vids {
    height: auto;
}

.dynamic-item .dynamic-info {
    position: relative;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: border;
    border-bottom: 1px dashed #ccc;
    padding: 2rem 2rem 1rem 2rem;
}

.dynamic-item .dynamic-info::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 12px;
    width: 6px;
    height: 6px;
    margin-left: -4px;
    background: var(--bg-color);
    border-radius: 50%;
    border: 1px solid #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: background;
}

.dynamic-item .dynamic-info .content img.custom-img,
.dynamic-item .dynamic-info .content video,
.dynamic-item .dynamic-info .content iframe {
    margin: 1rem;
    max-width: 720px;
    max-height: 368px;
}

@media (max-width:767px) {
    .dynamic-item .dynamic-info .content img.custom-img {
        margin: .2rem;
        width: 100% !important;
        height: 146px;
    }

    .dynamic-item .dynamic-info .content video {
        margin: .2rem;
        width: 270px;
        height: 146px;
    }

    .dynamic-item .dynamic-info .content iframe {
        margin: .2rem;
        width: 270px;
    }
}

.show {
    display: block !important;
}

/**评论区**/
.hb-comment {
    position: relative;
    transform: translateY(10px)!important;
}

.hb-w-body .hb-w-body-item .avatar {
   transform: translateX(-12px);
}

.hb-w-body .hb-w-body-item .change_avatar {
    transform: translateX(12px);
    text-decoration: none;
}

.hb-w-body .hb-comment-info .label {
    padding: 0 4px;
}

.hb-w-body .hb-comment-help button {
    padding: 0 1rem !important;
    font-size: 14px;
}

.hb-w-body .hb-comment-help .emoji-panel li {
    padding: 0 !important;
}

.hb-comment .content img {
    margin: 0!important;
}

.hb-w-body .hb-comment-help .emoji-panel .emoji-ul.active {
    padding-left: 6px;
}

.hb-r-body .hb-r-pagination ul li a,
.hb-r-body .hb-r-pagination ul li a:active {
    padding: 0!important;
}

.row {
    display: flex;
    flex-flow: wrap;
}

.col-md-4 {
    width: calc(30% - 2rem);
    margin: 0 1rem;
}

.col-md-6 {
    width: calc(50% - 2rem);
    margin: 0 1rem;
}

@media (max-width: 767px) {
    .row {
        display: unset;
    }

    .col-md-4,.col-md-6 {
        width: 100%;
        margin: 0;
    }
}